.me{
    background-color: yellow;
    width: 50%;
    margin: 0 auto;
}
.f{
    background-color:peru;
    position: relative;
    /* width: 100%; */
    left:0;
    right: auto;

}
label{
    color: darkblue;
}
legend{
    color: darkred;
    text-transform: uppercase;
}

button{
    
}